@import '../fonts/fonts.css';

/***************************NavBar***********************************/
.nav-bg {
  background-color: #189488 !important;
}

.nav-links li a {
  color: white !important;
  font-family: Montserrat;
}

.nav-links a:hover {
  color: #ff1493 !important; /* Change the link color on hover */
}

.nav-links li .cart {
  font-size: 22px !important;
}

.logo {
  width: 100px;
}

.cart:hover,
.menu:hover {
  color: #ff1493 !important;
}

/***********************************NavBar End*************************/

/***********************************Cart Start*************************/
.cart-button {
  background: none;
  border: none;
  cursor: pointer;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: -100%; /* Start offscreen */
  width: 50%;
  min-height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.cart-overlay h3 {
  font-family: Montserrat;
}

.cart-overlay.open {
  right: -50%;
}

.cart-content {
  padding: 20px;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
}

.cart-img-cont {
  max-width: 15%;
}

.cart-card {
  background-color: #189488;
  border-radius: 20px;
}

.cart-card p {
  font-family: Montserrat;
  font-size: 15px;
  margin: 0;
  color: white;
}

.cart-val-cont {
  width: 100%;
}

.cart-val-cont p {
  font-family: Montserrat;
  font-size: 15px;
  margin: 0;
  color: white;
}

.cart-checkout-cont p {
  font-family: Montserrat;
  font-size: 15px;
  margin: 0;
  color: white;
}

.cart-checkout-cont button {
  font-family: Montserrat;
  font-size: 15px;
  margin: 0;
  color: white;
  padding: 10px;
  background-color: #ff1493;
  border-radius: 10px;
  width: 100%;
}

/***********************************Cart End*****************************/

/***********************************Login/Register Page************************************************/
.login {
  background-color: rgb(241, 240, 240);
  position: relative;
}

.login-form input::placeholder {
  font-family: Montserrat;
}

.login-form button {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  background-color: #ff1493;
}

.login-form button:hover {
  background-color: #ff1493;
}

.login-form h3 {
  font-family: Montserrat;
}

.login-form a {
  font-family: Montserrat;
  text-decoration: none;
  color: #189488;
  text-align: center;
}

.password-input {
  position: relative;
}

.password-input .eye {
  position: absolute;
  top: 35%;
  right: 10px; /* Adjust the right position based on your preference */
  transform: translateY(-50%);
  cursor: pointer;
}

.auth-loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login.loading {
  pointer-events: none; /* Disable user interaction */
}
/***********************************Login/Register Page End************************************************/

/***********************************My Account Page End************************************************/
.my-account {
  background-color: rgb(241, 240, 240);
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-account h2 {
  font-family: Playfair Display;
}

.account-action {
  width: 200px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.pencil,
.receipt {
  height: 80px;
}

/* Screens smaller than 460px */
@media (max-width: 459px) {
  .account-action-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .account-action {
    margin-right: 0px !important;
    margin-top: 10px;
  }
}

/* Screens large than 900px */
@media (min-width: 900px) {
  .my-account {
    height: 60vh;
  }
  .account-action-cont {
    margin-top: 100px !important;
  }
}

/* Screens large than 1200px */
@media (min-width: 1200px) {
  .my-account {
    height: 80vh;
  }
  .account-action-cont {
    margin-top: 100px !important;
  }
}
/***********************************My Account Page End************************************************/

/***********************************My Orders Page************************************************/
.my-orders {
  background-color: rgb(241, 240, 240);
}

.dropdown {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50vw;
  height: 20vh;
}

.my-orders h2 {
  font-family: Playfair Display;
}

.my-order {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.my-order h3 {
  font-family: Playfair Display;
  font-size: 25px;
}

.my-order-date {
  text-align: center;
}

.my-order-item img {
  width: 10%;
  padding-bottom: 10px;
  margin-right: 10vw;
  min-width: 31px;
}

.my-order-item {
  margin-bottom: 5vh;
}

.my-order-totals {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 5vw;
  /* margin-bottom: 5vh; */
}

.my-order-item .item-quantity {
  margin-left: 10vw !important;
}

.my-order-item .item-name,
.item-quantity,
.item-quantity-label {
  font-size: 15px;
  margin-top: 0;
}

.my-order-totals p {
  font-size: 15px;
}

/* Screens large than 900px */
@media (min-width: 900px) {
  .my-order-item .item-name,
  .item-quantity,
  .item-quantity-label {
    font-size: 20px;
    margin-top: 0;
  }
  .my-order h3 {
    font-family: Playfair Display;
    font-size: 35px;
  }
  .my-order-totals p {
    font-size: 20px;
  }
}
/***********************************My Orders Page End************************************************/

/***********************************Homepage***********************************/
.home h2 {
  text-align: center;
  font-family: Playfair Display;
  font-weight: bold;
  color: white;
}

.home .prod-sect {
  background-color: #303030;
}

/* slider */

.uk-slider-container {
  height: 80vh;
}

.uk-slider-items {
  height: 100%;
}

.uk-slider-items li {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.uk-slider-items li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-item {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slider-item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  z-index: 1;
  font-family: Playfair Display;
  /* font-style: italic; */
}
/* slider end*/

/* products section */
.service-card-cont {
  display: flex;
  flex-direction: column;
}

/* Media query for medium and large screens */
@media screen and (min-width: 1200px) {
  .service-card-cont {
    flex-direction: row;
  }
}

.service-card {
  background-size: cover;
  height: 300px;
  width: 400px;
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  .service-card {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
}

.service-card button {
  border-radius: 10px;
  background: #ff1493;
  color: white;
}

.service-card h3 {
  color: white;
  font-size: 30px;
  font-family: Playfair Display;
  font-style: bold;
}

/* products section end*/

/* testimontials section */
.home .test-sect {
  background-color: #189488;
}

.test-card .uk-card-header {
  border-bottom: 0px;
}

.test-card img {
  width: 55px;
  height: 50px;
}

.test-card h3 {
  font-family: Playfair Display;
}

.test-card p {
  font-family: Playfair Display;
  font-style: italic;
}

.filled-star {
  color: gold;
}

/* Base styles for the testimonial cards container */
.test-sect-div {
  display: flex;
  height: fit-content !important;
}

/* Small screens: Flex vertically (one column, three rows) */
@media (max-width: 640px) {
  .test-sect-div {
    flex-direction: column;
    height: fit-content !important;
    align-items: center;
  }
  .test-card {
    width: 60%;
  }
}

/* Medium screens: Flex vertically (one column, three rows) */
@media (min-width: 640px) and (max-width: 960px) {
  .test-sect-div {
    flex-direction: column;
    height: fit-content !important;
    align-items: center;
  }
  .test-card {
    width: 60%;
  }
}
/* testimontials section end*/

/**********************************************Homepage End***********************************/

/***************************************Product Type Page Start**************************/
/* Screens smaller than 460px */
@media (max-width: 459px) {
  .prod-type-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prod-type-card {
    margin-right: 0px !important;
    margin-top: 10px;
  }
}

/* Screens large than 900px */
@media (min-width: 900px) {
  .prod-type-cont {
    margin-top: 100px !important;
  }
}

/* Screens large than 1200px */
@media (min-width: 1200px) {
  .prod-type-cont {
    margin-top: 100px !important;
  }
}

.prod-type-card {
  width: 200px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/***********************************Product Type Page End***********************************/

/***********************************Products Page************************************************/

/*Product Card*/
.prod-card img {
  width: 20%;
}

.prod-card button {
  font-family: Montserrat;
  font-size: 15px;
  margin: 0;
  color: white;
  padding: 10px;
  background-color: #ff1493;
  border-radius: 10px;
  width: 100%;
}

.prod-card button:hover {
  background-color: #ff1493;
}

.prod-card {
  /* background-color: #189488; */
  border-radius: 10px;
}
/*Product Card End*/

/***********************************Products Page End******************************************/

/***********************************Footer****************************************************/
.footer {
  background-color: #303030;
}

.footer h3 {
  font-family: Playfair Display;
}

.footer p {
  font-family: Montserrat;
}
/***********************************Footer End****************************************************/
