@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic; /* Italic font style */
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal; /* Regular font style */
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic; /* Italic font style */
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal; /* Regular font style */
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic; /* Italic font style */
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-style: normal; /* Regular font style */
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-style: italic; /* Italic font style */
  font-weight: bold;
}

